<div class="card-list-container">
  <div class="card-list-item">
    <a [routerLink]="['/product', product.id]" class="card-image-link">
      <img [src]="product.images[0]" [alt]="product.title" class="card-image" />
    </a>

    <div class="card-list-content">
      <div class="card-list-category">
        {{ product.category.name }}
      </div>
      <div class="card-list-title">
        {{ product.title }}
      </div>
      <div class="card-footer">
        <div class="card-list-price">
          <span class="price-product">{{
            product.price | currency: '$' : 'symbol' : '1.0'
          }}</span>
        </div>
        <button class="addCard" (click)="addToCartHandler()">
          Add to card
        </button>
      </div>
    </div>
  </div>
</div>
