@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&family=Poppins:wght@700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color-angular: #a144eb;
  --bg-color-tailwind: #0f172a;
  --bg-color-tailwind2: #1f3056;
  --bg-color-amarillo-instagram: #fed372;
  --bg-color-amarillo-instagram2: #f8d673;
  --bg-color-amarillo-instagram3: #e5cb67;
  --bg-color-naranja-instagram: #f86f2f;
  --bg-color-morado-instagram: #9e37b8;
  --bg-color-cosmo-azul: #1a5877;
  --bg-color-cosmo-azul2: #d4e8f1;
  --bg-color-cosmo-azul3: #283a6a;
  --bg-color-cosmo-azul: #313f57;
}
body {
  font-family: 'Inter', sans-serif;
}
